*{
    margin:0;
    padding:0;
    
    
}

/*NAV:  */
.nav{
    height: 9%;
    position:sticky;
    font-family: "Sofia", sans-serif;
    
    
}

.nav-bar{
    list-style: none;
    display: flex;    
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.9023984593837535) 2%, rgba(242,174,199,1) 49%, rgba(217,108,117,1) 100%);
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding-right: 1rem;
    border-bottom: 1px solid rgb(185, 81, 90);
}

nav a:link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.icon{
    display: flex;
    margin: 10px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    font-weight: bold;
    text-align: center;
}

.icon img{
    margin:0.2rem;
    margin-right: 1rem;
}

#search-box{
    border-radius: 0.5rem;
    height: 2rem;
}


.search-button{
    font-family: "Trirong", serif;
    width: 5rem;
    height: 2rem;
    font-weight:bold;
    border: 1px solid rgb(117, 0, 20);
    border-radius: 0.5rem;
    background: rgb(217,108,117);
    background: linear-gradient(90deg, rgba(217,108,117,1) 0%, rgba(242,187,201,1) 33%, rgba(191,59,156,1) 100%);
}

/* content--box */
.article{
    padding: 2rem;
    background: rgb(230,126,135);
    background: radial-gradient(circle, rgba(230,126,135,0.6699054621848739) 26%, rgba(255,255,255,1) 100%);
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    height: 40rem;
    
}

.container{
    border: 0.5px solid black;
    height: 30rem;
}



/*FOOTER: */
.foot{
    background-color: #F2BBC9;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    text-align: center;
}

.foot div a:link{
    text-decoration: none;
    font-size: 2rem;

}

